.m-detail{
	width:100%;
	height:100%;
	background:#ccc;
	@inclide flexbox();
	header{
		width:100%;
		height:.44rem;
		background:#0CC042;
		ul{
			@include flexbox();
			line-height:.44rem;
			width:100%;
			li{
				text-align:center;
				line-height:.44rem;
				width:.44rem;
				height:.44rem;
				color:#fff;
				&:nth-of-type(2){
					@include flex(1);
				}
			}
		}
	}
	section{
		@include flex(1);
		width:100%;
		p{
			img{
				width:100%;
			}
		}
		article{
			padding:5px;
			line-height:1.5;
		}
	}
}