.m-container{
	width:100%;
	height:100%;
	@include flexbox();
	@include flex-direction(column);
	.m-index{
		@include flex();
		width:100%;
		height:100%;
		position:relative;
	}
	footer{
		width:100%;
		height:.44rem;
		background:#fff;
		position:relative;
		z-index:999;
		ul{
			width:100%;
			@include flexbox();
			@include border(1px 0 0 0,#333,solid)
			li{
				@include flex();
				@include flexbox();
				padding-top:0.03rem;
				@include flex-direction(column);
				text-align:center;
				line-height:.22rem;
				color:#CFCFD1;
				&.active{
					color:#0CBF3F;
				}
				i{
					font-size:.16rem;
				}
				b{
					font-size:.12rem;
					display:block;
					margin-top:-0.03rem;
				}
				&:nth-of-type(3){
					position:relative;
					text-align:center;
					i{
						width:.5rem;
						height:.5rem;
						@include border(1px,#ccc,solid,50%);
						background:#fff;
						position:absolute!important;
						left:50%;
						top:-.08rem;
						line-height:.5rem;
						font-size:.35rem;
						@include transform(translate(-50%,0));
						z-index:1000;
					}
					
				}
			}
		}
	}
}