@import "../../lib/widget/yo-dialog";

@include yo-dialog(
	$name:a,
	$height:2rem
	//无法设置宽,宽自适应
){
	.p{
		text-align:left;
		line-height:.35rem;
		input{
			border:none;
			outline:none;
		}
	}
	button:first-child{
		background:#ff0!important
	}
	button:last-child{
		background:#ccc!important
	}
}